/*
Description: The stylesheet with a main style.
Author:      Cherry Team
Version:     1.0.0
*/
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline; }
  a:focus {
    outline: none; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-circle {
  border-radius: 50%; }

hr {
  border: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  line-height: inherit;
  border: 0; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold; }

input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal; }

input[type="file"] {
  display: block; }

input[type="range"] {
  display: block;
  width: 100%; }

select[multiple],
select[size] {
  height: auto; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

output {
  display: block;
  padding-top: 7px; }

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .form-control::-moz-placeholder {
    color: #999;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #999; }
  .form-control::-webkit-input-placeholder {
    color: #999; }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    opacity: 1; }

textarea.form-control {
  height: auto; }

input[type="search"] {
  -webkit-appearance: none; }

.form-group {
  margin-bottom: 15px; }

.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px; }
  .radio label,
  .checkbox label {
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer; }

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9; }

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px; }

.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer; }

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px; }

input[type="radio"][disabled], input[type="radio"].disabled, fieldset[disabled] input[type="radio"],
input[type="checkbox"][disabled],
input[type="checkbox"].disabled, fieldset[disabled]
input[type="checkbox"] {
  cursor: not-allowed; }

.radio-inline.disabled, fieldset[disabled] .radio-inline,
.checkbox-inline.disabled, fieldset[disabled]
.checkbox-inline {
  cursor: not-allowed; }

.radio.disabled label, fieldset[disabled] .radio label,
.checkbox.disabled label, fieldset[disabled]
.checkbox label {
  cursor: not-allowed; }

.form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0; }
  .form-control-static.input-lg, .form-control-static.input-sm {
    padding-left: 0;
    padding-right: 0; }

.input-sm, .form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

select.input-sm, .form-group-sm .form-control {
  height: 30px;
  line-height: 30px; }

textarea.input-sm, .form-group-sm .form-control,
select[multiple].input-sm, .form-group-sm .form-control {
  height: auto; }

.input-lg, .form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px; }

select.input-lg, .form-group-lg .form-control {
  height: 46px;
  line-height: 46px; }

textarea.input-lg, .form-group-lg .form-control,
select[multiple].input-lg, .form-group-lg .form-control {
  height: auto; }

.has-feedback {
  position: relative; }
  .has-feedback .form-control {
    padding-right: 42.5px; }

.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none; }

.input-lg + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px; }

.input-sm + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px; }

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label {
  color: #3c763d; }
.has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .has-success .form-control:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168; }
.has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8; }
.has-success .form-control-feedback {
  color: #3c763d; }

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline, .has-warning.radio label, .has-warning.checkbox label, .has-warning.radio-inline label, .has-warning.checkbox-inline label {
  color: #8a6d3b; }
.has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .has-warning .form-control:focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b; }
.has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3; }
.has-warning .form-control-feedback {
  color: #8a6d3b; }

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
  color: #a94442; }
.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483; }
.has-error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede; }
.has-error .form-control-feedback {
  color: #a94442; }

.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0; }

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px; }

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px; }
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 27px; }
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px; }
  .form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table; }
  .form-horizontal .form-group:after {
    clear: both; }
.form-horizontal .has-feedback .form-control-feedback {
  right: 15px; }

.cherry-cookie-banner-wrap {
  position: fixed;
  z-index: 9999;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  padding: 0;
  margin: 0;
  color: white;
  background: rgba(0, 0, 0, 0.7); }
  .cherry-cookie-banner-wrap .container {
    padding-top: 10px;
    padding-bottom: 10px; }
  .cherry-cookie-banner-wrap .close {
    color: #fff;
    outline: none;
    opacity: 0.7;
    filter: alpha(opacity=70); }
    .cherry-cookie-banner-wrap .close:hover {
      opacity: 1;
      filter: alpha(opacity=100); }

table {
  max-width: 100%;
  background-color: transparent; }

th {
  text-align: left; }

.table,
table {
  width: 100%; }
  .table tr > th,
  .table tr > td,
  table tr > th,
  table tr > td {
    padding: 8px;
    vertical-align: top; }
  .table > thead > tr > th,
  table > thead > tr > th {
    vertical-align: bottom; }
  .table > caption + thead > tr:first-child > th,
  .table > caption + thead > tr:first-child > td,
  .table > colgroup + thead > tr:first-child > th,
  .table > colgroup + thead > tr:first-child > td,
  .table > thead:first-child > tr:first-child > th,
  .table > thead:first-child > tr:first-child > td,
  table > caption + thead > tr:first-child > th,
  table > caption + thead > tr:first-child > td,
  table > colgroup + thead > tr:first-child > th,
  table > colgroup + thead > tr:first-child > td,
  table > thead:first-child > tr:first-child > th,
  table > thead:first-child > tr:first-child > td {
    border-top: 0; }

.table-condensed > thead > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > tfoot > tr > td {
  padding: 5px; }

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px; }

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5; }

table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column; }

table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell; }

.table > thead > tr > td.active,
.table > thead > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th,
.table > tbody > tr > td.active,
.table > tbody > tr > th.active,
.table > tbody > tr.active > td,
.table > tbody > tr.active > th,
.table > tfoot > tr > td.active,
.table > tfoot > tr > th.active,
.table > tfoot > tr.active > td,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5; }

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover, .table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8; }

.table > thead > tr > td.success,
.table > thead > tr > th.success, .table > thead > tr.success > td, .table > thead > tr.success > th,
.table > tbody > tr > td.success,
.table > tbody > tr > th.success,
.table > tbody > tr.success > td,
.table > tbody > tr.success > th,
.table > tfoot > tr > td.success,
.table > tfoot > tr > th.success,
.table > tfoot > tr.success > td,
.table > tfoot > tr.success > th {
  background-color: #dff0d8; }

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover, .table-hover > tbody > tr.success:hover > td, .table-hover > tbody > tr:hover > .success, .table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6; }

.table > thead > tr > td.info,
.table > thead > tr > th.info, .table > thead > tr.info > td, .table > thead > tr.info > th,
.table > tbody > tr > td.info,
.table > tbody > tr > th.info,
.table > tbody > tr.info > td,
.table > tbody > tr.info > th,
.table > tfoot > tr > td.info,
.table > tfoot > tr > th.info,
.table > tfoot > tr.info > td,
.table > tfoot > tr.info > th {
  background-color: #d9edf7; }

.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover, .table-hover > tbody > tr.info:hover > td, .table-hover > tbody > tr:hover > .info, .table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3; }

.table > thead > tr > td.warning,
.table > thead > tr > th.warning, .table > thead > tr.warning > td, .table > thead > tr.warning > th,
.table > tbody > tr > td.warning,
.table > tbody > tr > th.warning,
.table > tbody > tr.warning > td,
.table > tbody > tr.warning > th,
.table > tfoot > tr > td.warning,
.table > tfoot > tr > th.warning,
.table > tfoot > tr.warning > td,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3; }

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover, .table-hover > tbody > tr.warning:hover > td, .table-hover > tbody > tr:hover > .warning, .table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc; }

.table > thead > tr > td.danger,
.table > thead > tr > th.danger, .table > thead > tr.danger > td, .table > thead > tr.danger > th,
.table > tbody > tr > td.danger,
.table > tbody > tr > th.danger,
.table > tbody > tr.danger > td,
.table > tbody > tr.danger > th,
.table > tfoot > tr > td.danger,
.table > tfoot > tr > th.danger,
.table > tfoot > tr.danger > td,
.table > tfoot > tr.danger > th {
  background-color: #f2dede; }

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover, .table-hover > tbody > tr.danger:hover > td, .table-hover > tbody > tr:hover > .danger, .table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc; }

.close {
  float: right;
  line-height: 1;
  opacity: 0.2;
  filter: alpha(opacity=20); }
  .close:hover, .close:focus {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50); }

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; }

h1 small,
h1 .small, h2 small,
h2 .small, h3 small,
h3 .small, h4 small,
h4 .small, h5 small,
h5 .small, h6 small,
h6 .small,
.h1 small,
.h1 .small, .h2 small,
.h2 .small, .h3 small,
.h3 .small, .h4 small,
.h4 .small, .h5 small,
.h5 .small, .h6 small,
.h6 .small {
  font-weight: normal;
  line-height: 1; }

h1 small,
h1 .small, .h1 small,
.h1 .small,
h2 small,
h2 .small, .h2 small,
.h2 .small,
h3 small,
h3 .small, .h3 small,
.h3 .small {
  font-size: 65%; }

h4 small,
h4 .small, .h4 small,
.h4 .small,
h5 small,
h5 .small, .h5 small,
.h5 .small,
h6 small,
h6 .small, .h6 small,
.h6 .small {
  font-size: 75%; }

.lead {
  font-weight: 300;
  line-height: 1.4; }

cite {
  font-style: normal; }

mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.bg-primary {
  color: #fff; }

ul,
ol {
  margin-top: 0; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }

.list-unstyled, .list-inline {
  padding-left: 0;
  list-style: none; }

.list-inline {
  margin-left: -5px; }
  .list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }

dl {
  margin-top: 0; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

.dl-horizontal dd:before, .dl-horizontal dd:after {
  content: " ";
  display: table; }
.dl-horizontal dd:after {
  clear: both; }

abbr[title],
abbr[data-original-title] {
  cursor: help; }

.initialism {
  font-size: 90%;
  text-transform: uppercase; }

blockquote {
  padding: 0 0 0 20px;
  margin: 0 0 20px 0; }
  blockquote p:last-child,
  blockquote ul:last-child,
  blockquote ol:last-child {
    margin-bottom: 0; }
  blockquote footer,
  blockquote small,
  blockquote .small {
    display: block;
    font-size: 80%; }
    blockquote footer:before,
    blockquote small:before,
    blockquote .small:before {
      content: '\2014 \00A0'; }

.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-left: 0;
  text-align: right; }
  .blockquote-reverse footer:before,
  .blockquote-reverse small:before,
  .blockquote-reverse .small:before,
  blockquote.pull-right footer:before,
  blockquote.pull-right small:before,
  blockquote.pull-right .small:before {
    content: ''; }
  .blockquote-reverse footer:after,
  .blockquote-reverse small:after,
  .blockquote-reverse .small:after,
  blockquote.pull-right footer:after,
  blockquote.pull-right small:after,
  blockquote.pull-right .small:after {
    content: '\00A0 \2014'; }

blockquote:before,
blockquote:after {
  content: ""; }

address {
  font-style: normal; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
img {
  display: inline-block;
  max-width: 100%;
  height: auto; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.cherry-breadcrumbs_content {
  text-align: right;
  padding: 20px 0; }
.cherry-breadcrumbs_browse, .cherry-breadcrumbs_wrap, .cherry-breadcrumbs_item {
  display: inline-block;
  vertical-align: top; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before, .clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: " ";
  display: table; }
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets */ }
  .widget select {
    max-width: 100%; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.site {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto; }

.site-header,
.site-content,
.site-footer {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.site-header {
  position: relative;
  z-index: 9; }

.isStick.site-header, .isStick.header-top {
  left: 0;
  right: 0;
  z-index: 9;
  width: 100%; }

.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.entry-meta {
  overflow: hidden; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/* Mediaelements */
.hentry .mejs-container {
  margin-bottom: 18px; }

/*--------------------------------------------------------------
# Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------
# Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

ol.comment-list {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
  text-indent: 0; }
  ol.comment-list li > .children,
  ol.comment-list .children li > .children {
    list-style: none; }
  ol.comment-list li .comment-body {
    padding: 1.5em;
    background: #fff; }
  ol.comment-list li.comment, ol.comment-list li.ping {
    clear: both; }
  ol.comment-list li.comment {
    margin: 0 0 1em;
    /* Avatar */
    /* Meta */
    /* Reply */
    /* Sub-comments */ }
    ol.comment-list li.comment div.vcard cite.fn {
      font-style: normal; }
    ol.comment-list li.comment div.vcard img.avatar {
      float: left;
      margin: 0 1em 1em 0; }
    ol.comment-list li.comment footer.comment-meta {
      font-size: 10px; }
    ol.comment-list li.comment div.reply {
      text-align: right; }
    ol.comment-list li.comment ol.children {
      margin: 1em 0 0;
      padding-left: 40px; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
# Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
# Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*--------------------------------------------------------------
# 404
--------------------------------------------------------------*/
.error-404 {
  padding: 30px 0; }
  .error-404-num {
    text-align: center;
    font-size: 15em;
    line-height: 1.1; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important;
  visibility: hidden !important; }

.affix {
  position: fixed; }

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }
  .embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%; }
  .embed-responsive.embed-responsive-4by3 {
    padding-bottom: 75%; }

.cherry-no-responsive .sidebar-sidebar-content-wrapper,
.cherry-no-responsive .sidebar-content-sidebar-wrapper,
.cherry-no-responsive .content-sidebar-sidebar-wrapper {
  width: 80%; }
.cherry-no-responsive .sidebar-content-sidebar-wrapper,
.cherry-no-responsive .sidebar-sidebar-content-wrapper {
  float: right; }
.cherry-no-responsive .content-sidebar-sidebar-wrapper {
  float: left; }
.cherry-no-responsive .sidebar-content-wrapper #primary,
.cherry-no-responsive .content-sidebar-wrapper #primary,
.cherry-no-responsive .sidebar-sidebar-content-wrapper #primary,
.cherry-no-responsive .sidebar-content-sidebar-wrapper #primary,
.cherry-no-responsive .content-sidebar-sidebar-wrapper #primary {
  width: 75%; }
.cherry-no-responsive .sidebar-content-wrapper #primary,
.cherry-no-responsive .sidebar-sidebar-content-wrapper #primary {
  float: right; }
.cherry-no-responsive .content-sidebar-wrapper #primary,
.cherry-no-responsive .content-sidebar-sidebar-wrapper #primary,
.cherry-no-responsive .sidebar-content-sidebar-wrapper #primary {
  float: left; }
.cherry-no-responsive .sidebar-content-wrapper .widget-area,
.cherry-no-responsive .sidebar-sidebar-content-wrapper .widget-area {
  float: left;
  width: 23%; }
.cherry-no-responsive .content-sidebar-wrapper .widget-area,
.cherry-no-responsive .content-sidebar-sidebar-wrapper .widget-area,
.cherry-no-responsive .sidebar-content-sidebar-wrapper .widget-area {
  float: right;
  width: 23%; }
.cherry-no-responsive .sidebar-sidebar-content-wrapper + .widget-area,
.cherry-no-responsive .sidebar-content-sidebar-wrapper + .widget-area {
  float: left;
  width: 18%; }
.cherry-no-responsive .content-sidebar-sidebar-wrapper + .widget-area {
  float: right;
  width: 18%; }
.cherry-no-responsive .cherry-with-sidebar .content-area .container {
  width: 80%; }

/* #General
================================================== */
#site-wrapper input[type="text"], #site-wrapper input[type="email"], #site-wrapper input[type="tel"], #site-wrapper input[type="url"], #site-wrapper input[type="search"], #site-wrapper textarea {
  min-height: 37px;
  margin: 0;
  padding: 7px 15px 7px 15px;
  border: 1px solid #c9c9c9;
  resize: none; }
#site-wrapper input[type="submit"], #site-wrapper input[type="reset"] {
  height: 55px;
  margin: 0;
  padding: 0 17px 0 17px;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  border: none;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff; }
  #site-wrapper input[type="submit"]:hover, #site-wrapper input[type="reset"]:hover {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
#site-wrapper .search-form label {
  display: inline-block;
  vertical-align: top; }
#site-wrapper .search-form input[type="submit"] {
  height: 38px; }

h2 {
  margin: 0 0 19px 0;
  text-align: center;
  text-transform: uppercase; }

h3 {
  margin: 0 0 21px 0;
  text-align: center;
  text-transform: uppercase; }

h4 {
  text-transform: uppercase; }

h5 {
  margin: 0 0 7px 0;
  text-transform: uppercase; }

p {
  margin: 0 0 22px 0; }

a {
  outline: none !important;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  text-decoration: none; }
  a:focus {
    text-decoration: none; }
  a:hover {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    text-decoration: none; }

img.alignleft {
  margin: 8px 30px 5px 0; }
  @media (max-width: 767px) {
    img.alignleft {
      max-width: 50%; } }
  @media (max-width: 480px) {
    img.alignleft {
      margin: 0 20px 5px 0; } }

img.alignnone {
  margin-top: 8px; }

/* #Header
================================================== */
header.site-header {
  z-index: 999 !important; }
  @media (max-width: 767px) {
    header.site-header {
      text-align: center; } }
  header.site-header.isStick {
    z-index: 999; }
  @media (min-width: 1200px) {
    header.site-header .site-branding {
      margin-left: -5px; } }
  @media (max-width: 767px) {
    header.site-header .site-branding {
      display: inline-block;
      vertical-align: top; } }
  header.site-header .site-branding .site-title {
    float: left;
    margin: 0 1px -2px 0;
    text-transform: none; }
    @media (min-width: 992px) and (max-width: 1199px) {
      header.site-header .site-branding .site-title {
        margin: 0 5px 0 0; } }
    @media (min-width: 768px) and (max-width: 991px) {
      header.site-header .site-branding .site-title {
        float: none; } }
    @media (max-width: 767px) {
      header.site-header .site-branding .site-title {
        float: none; } }
  header.site-header .site-branding .text-logo a {
    display: inline-block;
    vertical-align: top;
    line-height: 80px; }
  header.site-header .site-branding .site-description {
    overflow: hidden;
    margin: 0;
    padding: 46px 0 0 0;
    line-height: 19px;
    font-size: 19px;
    text-align: left;
    text-transform: uppercase; }
    @media (min-width: 979px) and (max-width: 1200px) {
      header.site-header .site-branding .site-description {
        padding: 21px 0 0 0; } }
    @media (min-width: 768px) and (max-width: 991px) {
      header.site-header .site-branding .site-description {
        padding: 5px 0 0 0; } }
    @media (max-width: 767px) {
      header.site-header .site-branding .site-description {
        padding: 5px 0 0 0; } }
  header.site-header .header-top.isStick {
    right: 0;
    left: 0;
    text-align: center; }
  header.site-header #menu-primary {
    position: relative;
    padding: 0;
    z-index: 999; }
    @media (min-width: 768px) and (max-width: 991px) {
      header.site-header #menu-primary {
        padding: 12px 0; } }
    @media (max-width: 767px) {
      header.site-header #menu-primary {
        padding: 12px 0; } }
    @media (max-width: 480px) {
      header.site-header #menu-primary {
        text-align: center; } }
    header.site-header #menu-primary.isStick {
      right: 0;
      left: 0;
      text-align: center; }
      header.site-header #menu-primary.isStick ul.menu-items {
        display: inline-block !important;
        position: relative;
        float: none;
        vertical-align: top;
        z-index: 999; }
    header.site-header #menu-primary .menu-primary_trigger {
      background: #63b8bd;
      margin: 15px auto;
      border: none;
      -webkit-transition: all 0.8s ease-in-out;
      -moz-transition: all 0.8s ease-in-out;
      -ms-transition: all 0.8s ease-in-out;
      -o-transition: all 0.8s ease-in-out;
      transition: all 0.8s ease-in-out;
      font-size: 21px;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff; }
      header.site-header #menu-primary .menu-primary_trigger:hover {
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
    header.site-header #menu-primary ul.menu-items {
      background: none;
      float: right;
      margin: 0 4px 0 0;
      box-shadow: none; }
      @media (max-width: 767px) {
        header.site-header #menu-primary ul.menu-items {
          display: inline-block;
          float: none;
          vertical-align: top; } }
      @media (max-width: 480px) {
        header.site-header #menu-primary ul.menu-items {
          display: block;
          float: none;
          margin: 0;
          padding: 0; } }
      header.site-header #menu-primary ul.menu-items ul {
        width: 195px;
        padding: 13px 29px 13px 29px;
        text-align: left; }
        @media (max-width: 767px) {
          header.site-header #menu-primary ul.menu-items ul {
            left: 50%;
            width: 144px;
            margin-left: -72px; } }
        @media (max-width: 480px) {
          header.site-header #menu-primary ul.menu-items ul {
            width: 100%;
            margin: 0;
            padding: 0;
            border-top: 1px solid rgba(114, 105, 105, 0.3);
            text-align: center; } }
        header.site-header #menu-primary ul.menu-items ul ul {
          top: -13px !important;
          left: 167px !important; }
          @media (max-width: 767px) {
            header.site-header #menu-primary ul.menu-items ul ul {
              left: 116px !important;
              margin-left: 0; } }
          @media (max-width: 480px) {
            header.site-header #menu-primary ul.menu-items ul ul {
              top: auto !important;
              left: auto !important; } }
      header.site-header #menu-primary ul.menu-items > li {
        margin: 0 0 0 1px; }
        @media (max-width: 480px) {
          header.site-header #menu-primary ul.menu-items > li {
            float: none !important;
            display: block !important;
            margin: 0 !important;
            padding: 0 !important; } }
        @media (max-width: 480px) {
          header.site-header #menu-primary ul.menu-items > li ul {
            border-top: none !important; } }
        header.site-header #menu-primary ul.menu-items > li.current-menu-item > a:before {
          top: 0; }
        header.site-header #menu-primary ul.menu-items > li:hover a:before, header.site-header #menu-primary ul.menu-items > li:focus a:before {
          top: 0;
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -ms-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out; }
        header.site-header #menu-primary ul.menu-items > li.cherry-mega-menu-top-item {
          margin: 0;
          padding: 0; }
          @media (max-width: 767px) {
            header.site-header #menu-primary ul.menu-items > li.cherry-mega-menu-top-item a {
              display: block !important;
              width: 100% !important;
              margin: 0 !important;
              padding: 9px 0 10px 0 !important;
              line-height: 20px !important;
              font-size: 15px !important;
              font-weight: 300 !important;
              text-transform: none;
              text-decoration: none;
              text-align: center; }
              header.site-header #menu-primary ul.menu-items > li.cherry-mega-menu-top-item a:hover:before {
                top: 0;
                -webkit-transition: all 0.4s ease-in-out;
                -moz-transition: all 0.4s ease-in-out;
                -ms-transition: all 0.4s ease-in-out;
                -o-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out; }
              header.site-header #menu-primary ul.menu-items > li.cherry-mega-menu-top-item a .mega-menu-arrow {
                display: none !important; } }
          @media (max-width: 767px) {
            header.site-header #menu-primary ul.menu-items > li.cherry-mega-menu-top-item {
              border: none !important; }
              header.site-header #menu-primary ul.menu-items > li.cherry-mega-menu-top-item li {
                border: none !important; }
              header.site-header #menu-primary ul.menu-items > li.cherry-mega-menu-top-item ul {
                width: 100% !important;
                padding: 0 !important;
                border: none !important; } }
        header.site-header #menu-primary ul.menu-items > li > a {
          position: relative;
          padding: 26px 15px 28px 15px;
          text-transform: uppercase;
          text-decoration: none; }
          @media (min-width: 992px) and (max-width: 1199px) {
            header.site-header #menu-primary ul.menu-items > li > a {
              font-size: 17px; } }
          @media (min-width: 768px) and (max-width: 991px) {
            header.site-header #menu-primary ul.menu-items > li > a {
              padding-right: 13px;
              padding-left: 13px;
              font-size: 13px; } }
          @media (max-width: 767px) {
            header.site-header #menu-primary ul.menu-items > li > a {
              padding-right: 13px;
              padding-left: 13px;
              font-size: 13px; } }
          @media (max-width: 480px) {
            header.site-header #menu-primary ul.menu-items > li > a {
              display: block !important;
              width: 100% !important;
              margin: 0 !important;
              padding: 9px 0 10px 0 !important;
              line-height: 20px !important;
              font-size: 15px !important;
              font-weight: 300 !important;
              text-transform: none;
              text-decoration: none; }
              header.site-header #menu-primary ul.menu-items > li > a:hover {
                -webkit-transition: all 0.4s ease-in-out;
                -moz-transition: all 0.4s ease-in-out;
                -ms-transition: all 0.4s ease-in-out;
                -o-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out; }
              header.site-header #menu-primary ul.menu-items > li > a:before {
                display: none; }
              header.site-header #menu-primary ul.menu-items > li > a:after {
                margin-left: 5px;
                line-height: 20px; } }
          header.site-header #menu-primary ul.menu-items > li > a:hover:before {
            top: 0;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out; }
          header.site-header #menu-primary ul.menu-items > li > a:before {
            display: block;
            position: absolute;
            top: 100%;
            right: 0;
            bottom: 0;
            left: 0;
            -webkit-transition: all 0.8s ease-in-out;
            -moz-transition: all 0.8s ease-in-out;
            -ms-transition: all 0.8s ease-in-out;
            -o-transition: all 0.8s ease-in-out;
            transition: all 0.8s ease-in-out;
            z-index: -1;
            content: ''; }
          header.site-header #menu-primary ul.menu-items > li > a:after {
            position: absolute;
            top: 50px;
            right: 0;
            left: 0;
            text-align: center; }
        header.site-header #menu-primary ul.menu-items > li li {
          display: block;
          float: none;
          margin: 0;
          padding: 0;
          border-top: 1px solid rgba(114, 105, 105, 0.3); }
          @media (max-width: 480px) {
            header.site-header #menu-primary ul.menu-items > li li {
              border-top: none !important; } }
          header.site-header #menu-primary ul.menu-items > li li:first-child {
            border: none; }
          @media (max-width: 480px) {
            header.site-header #menu-primary ul.menu-items > li li ul {
              border-top: none !important; } }
          header.site-header #menu-primary ul.menu-items > li li a {
            width: 100%;
            margin: 0;
            padding: 9px 0 10px 0;
            line-height: 20px;
            font-size: 15px;
            font-weight: 300;
            text-transform: none;
            text-decoration: none; }
            header.site-header #menu-primary ul.menu-items > li li a:hover {
              -webkit-transition: all 0.4s ease-in-out;
              -moz-transition: all 0.4s ease-in-out;
              -ms-transition: all 0.4s ease-in-out;
              -o-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out; }
            header.site-header #menu-primary ul.menu-items > li li a:before {
              display: none; }
            header.site-header #menu-primary ul.menu-items > li li a:after {
              margin-left: 5px;
              line-height: 20px; }
          header.site-header #menu-primary ul.menu-items > li li.cherry-mega-menu-sub-item {
            padding: 5px; }
            header.site-header #menu-primary ul.menu-items > li li.cherry-mega-menu-sub-item ul {
              width: auto;
              margin: 0;
              padding: 0; }
              header.site-header #menu-primary ul.menu-items > li li.cherry-mega-menu-sub-item ul li {
                list-style: none; }
    header.site-header #menu-primary .mega-sub li.cherry-mega-menu-sub-item {
      float: left;
      border-top: none; }
    header.site-header #menu-primary .simple-sub {
      width: 195px !important;
      padding: 13px 29px 13px 29px !important; }
      header.site-header #menu-primary .simple-sub li.cherry-mega-menu-sub-item {
        padding: 0 !important;
        border-top: 1px solid rgba(114, 105, 105, 0.3); }

.mega-toggle-on a:before {
  top: 0 !important; }

/*/ Header */
/* Slider
---------------------------------------- */
@media (min-width: 1600px) and (max-width: 2050px) {
  .motoslider_wrapper .ms_wrapper {
    position: relative !important;
    left: 50% !important;
    width: 2050px !important;
    margin: 0 0 0 -1025px !important; } }
.motoslider_wrapper .ms_layer {
  font-size: 71px;
  font-weight: 100; }
  @media (min-width: 1600px) and (max-width: 2050px) {
    .motoslider_wrapper .ms_layer {
      line-height: 83px; } }
  @media (max-width: 767px) {
    .motoslider_wrapper .ms_layer {
      left: 20px !important; } }
  .motoslider_wrapper .ms_layer strong {
    display: block;
    width: 1170px;
    font-weight: 100; }
    @media (min-width: 1600px) and (max-width: 2050px) {
      .motoslider_wrapper .ms_layer strong {
        padding-top: 70px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .motoslider_wrapper .ms_layer strong {
        width: 940px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .motoslider_wrapper .ms_layer strong {
        width: 724px; } }
    @media (max-width: 767px) {
      .motoslider_wrapper .ms_layer strong {
        width: auto;
        font-weight: 400; } }
  .motoslider_wrapper .ms_layer em {
    display: block;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase; }
  .motoslider_wrapper .ms_layer span {
    display: block; }
.motoslider_wrapper a.ms_prev {
  left: 50%;
  width: 76px;
  height: 76px;
  margin: -38px 0 0 -790px;
  border-radius: 50%;
  text-decoration: none; }
  @media (min-width: 1200px) and (max-width: 1600px) {
    .motoslider_wrapper a.ms_prev {
      right: 50%;
      left: auto;
      margin-right: -505px;
      margin-left: auto; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .motoslider_wrapper a.ms_prev {
      right: 50%;
      left: auto;
      margin-right: -401px;
      margin-left: auto; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .motoslider_wrapper a.ms_prev {
      right: 50%;
      left: auto;
      margin-right: -276px;
      margin-left: auto; } }
  @media (max-width: 767px) {
    .motoslider_wrapper a.ms_prev {
      right: 65px;
      left: auto;
      width: 40px;
      height: 40px;
      margin-top: -20px;
      margin-right: 0;
      margin-left: auto; } }
  @media (max-width: 480px) {
    .motoslider_wrapper a.ms_prev {
      right: 55px !important; } }
  .motoslider_wrapper a.ms_prev:before {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 72px;
    font-family: FontAwesome;
    font-size: 47px;
    text-align: center;
    content: '\f104'; }
    @media (max-width: 767px) {
      .motoslider_wrapper a.ms_prev:before {
        line-height: 40px;
        font-size: 30px; } }
.motoslider_wrapper a.ms_next {
  right: 50%;
  width: 76px;
  height: 76px;
  margin: -38px -790px 0 0;
  border-radius: 50%;
  text-decoration: none; }
  @media (min-width: 1200px) and (max-width: 1600px) {
    .motoslider_wrapper a.ms_next {
      margin-right: -585px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .motoslider_wrapper a.ms_next {
      margin-right: -481px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .motoslider_wrapper a.ms_next {
      margin-right: -360px; } }
  @media (max-width: 767px) {
    .motoslider_wrapper a.ms_next {
      right: 20px;
      width: 40px;
      height: 40px;
      margin-top: -20px;
      margin-right: 0; } }
  @media (max-width: 480px) {
    .motoslider_wrapper a.ms_next {
      right: 10px !important; } }
  .motoslider_wrapper a.ms_next:before {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 72px;
    font-family: FontAwesome;
    font-size: 47px;
    text-align: center;
    content: '\f105'; }
    @media (max-width: 767px) {
      .motoslider_wrapper a.ms_next:before {
        line-height: 40px;
        font-size: 30px; } }
.motoslider_wrapper .ms_banner_timer {
  display: none !important; }
.motoslider_wrapper .ms_pagination, .motoslider_wrapper .ms_start_pause {
  display: none; }

/*/ Slider */
/* #Content
================================================== */
.site-content {
  padding: 36px 0 36px 0; }
  body.home .site-content {
    padding: 0; }
  .site-content .hentry {
    margin: 0; }

.entry-content {
  margin: 0; }

/*/ Content */
/* #Comments
================================================== */
body.page-template-default #comments {
  padding-top: 50px; }
#comments ol.comment-list {
  margin: 0 0 50px 0;
  padding: 0; }
  @media (max-width: 767px) {
    #comments ol.comment-list .children {
      padding: 0; } }
  #comments ol.comment-list li.comment {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none; }
    #comments ol.comment-list li.comment .comment-body {
      padding: 20px; }
      #comments ol.comment-list li.comment .comment-body .comment-meta {
        width: 100%;
        overflow: hidden;
        margin: 0 0 15px 0;
        line-height: 22px;
        font-size: 15px; }
        #comments ol.comment-list li.comment .comment-body .comment-meta img {
          float: left;
          margin: 0 20px 5px 0; }
        #comments ol.comment-list li.comment .comment-body .comment-meta .comment-metadata {
          display: block; }
          @media (max-width: 480px) {
            #comments ol.comment-list li.comment .comment-body .comment-meta .comment-metadata {
              line-height: 18px;
              font-size: 12px; } }
      #comments ol.comment-list li.comment .comment-body .reply a {
        display: inline-block;
        position: relative;
        margin: 0;
        padding: 15px 16px 15px 16px;
        vertical-align: top;
        letter-spacing: normal;
        line-height: 25px;
        font-size: 19px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        z-index: 99; }
        #comments ol.comment-list li.comment .comment-body .reply a:hover {
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
body.single-portfolio #comments .comments ol.comment-list {
  margin: 0 0 50px 0;
  padding: 0; }
  body.single-portfolio #comments .comments ol.comment-list li.comment {
    margin: 20px 0 0 0;
    padding: 0;
    border: none;
    list-style: none; }
    body.single-portfolio #comments .comments ol.comment-list li.comment .comment-body {
      padding: 20px; }
      body.single-portfolio #comments .comments ol.comment-list li.comment .comment-body .comment-meta {
        width: 100%;
        overflow: hidden;
        margin: 0 0 15px 0; }
        body.single-portfolio #comments .comments ol.comment-list li.comment .comment-body .comment-meta img {
          float: left;
          margin: 0 20px 5px 0; }
        @media (max-width: 480px) {
          body.single-portfolio #comments .comments ol.comment-list li.comment .comment-body .comment-meta .comment-metadata {
            line-height: 18px;
            font-size: 12px; } }
      body.single-portfolio #comments .comments ol.comment-list li.comment .comment-body .comment-content {
        margin: 0 0 20px 0;
        padding: 0;
        border: none;
        border-radius: 0; }
      body.single-portfolio #comments .comments ol.comment-list li.comment .comment-body .reply a {
        display: inline-block;
        position: relative;
        margin: 0;
        padding: 15px 16px 15px 16px;
        vertical-align: top;
        letter-spacing: normal;
        line-height: 25px;
        font-size: 19px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        z-index: 99; }
        body.single-portfolio #comments .comments ol.comment-list li.comment .comment-body .reply a:hover {
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

/*/ Comments */
/* #Widgets
================================================== */
.widget-area h3 {
  line-height: 37px;
  font-size: 37px; }
.widget-area .widget {
  margin: 58px 0 0 0; }
  .widget-area .widget:first-child {
    margin: 0; }
.widget-area .widget_categories ul, .widget-area .widget_archive ul, .widget-area .widget_nav_menu ul, .widget-area .widget_meta ul, .widget-area .widget_meta ul, .widget-area .widget_pages ul, .widget-area .widget_recent_comments ul, .widget-area .widget_recent_entries ul {
  margin: 0;
  padding: 0; }
  .widget-area .widget_categories ul li, .widget-area .widget_archive ul li, .widget-area .widget_nav_menu ul li, .widget-area .widget_meta ul li, .widget-area .widget_meta ul li, .widget-area .widget_pages ul li, .widget-area .widget_recent_comments ul li, .widget-area .widget_recent_entries ul li {
    position: relative;
    margin: 12px 0 0 0;
    padding: 0 0 0 16px;
    list-style: none;
    text-align: left; }
    .widget-area .widget_categories ul li:first-child, .widget-area .widget_archive ul li:first-child, .widget-area .widget_nav_menu ul li:first-child, .widget-area .widget_meta ul li:first-child, .widget-area .widget_meta ul li:first-child, .widget-area .widget_pages ul li:first-child, .widget-area .widget_recent_comments ul li:first-child, .widget-area .widget_recent_entries ul li:first-child {
      margin: 0; }
    .widget-area .widget_categories ul li:before, .widget-area .widget_archive ul li:before, .widget-area .widget_nav_menu ul li:before, .widget-area .widget_meta ul li:before, .widget-area .widget_meta ul li:before, .widget-area .widget_pages ul li:before, .widget-area .widget_recent_comments ul li:before, .widget-area .widget_recent_entries ul li:before {
      position: absolute;
      top: 2px;
      left: 0;
      line-height: 16px;
      font-family: FontAwesome;
      font-size: 16px;
      color: #63b8bd;
      content: '\f105'; }
    .widget-area .widget_categories ul li a, .widget-area .widget_archive ul li a, .widget-area .widget_nav_menu ul li a, .widget-area .widget_meta ul li a, .widget-area .widget_meta ul li a, .widget-area .widget_pages ul li a, .widget-area .widget_recent_comments ul li a, .widget-area .widget_recent_entries ul li a {
      text-decoration: none; }
      .widget-area .widget_categories ul li a:hover, .widget-area .widget_archive ul li a:hover, .widget-area .widget_nav_menu ul li a:hover, .widget-area .widget_meta ul li a:hover, .widget-area .widget_meta ul li a:hover, .widget-area .widget_pages ul li a:hover, .widget-area .widget_recent_comments ul li a:hover, .widget-area .widget_recent_entries ul li a:hover {
        text-decoration: none;
        color: #63b8bd; }
    .widget-area .widget_categories ul li ul, .widget-area .widget_archive ul li ul, .widget-area .widget_nav_menu ul li ul, .widget-area .widget_meta ul li ul, .widget-area .widget_meta ul li ul, .widget-area .widget_pages ul li ul, .widget-area .widget_recent_comments ul li ul, .widget-area .widget_recent_entries ul li ul {
      padding: 12px 0 0 0; }
.widget-area .cherry-social-follow-class {
  text-align: center; }
  .widget-area .cherry-social-follow-class ul li {
    display: inline-block;
    float: none;
    margin: 0 5px;
    padding: 0;
    vertical-align: top; }
.widget-area .cherry_team_widget .team-listing {
  margin: 0; }
  .widget-area .cherry_team_widget .team-listing .team-item {
    text-align: center; }
    .widget-area .cherry_team_widget .team-listing .team-item .team-listing_photo {
      margin: 0; }

/*/ Widgets */
/* #Shortcodes
================================================== */
.cherry-box.style_1 {
  position: relative;
  z-index: 2; }
  @media (min-width: 1200px) {
    .cherry-box.style_1 {
      margin-bottom: -7px; } }
  .cherry-box.style_1:before {
    background: #63b8bd;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 195px;
    left: 0;
    z-index: -1;
    content: ''; }
  .cherry-box.style_1:after {
    background: url(../../images/box_bottom.png) no-repeat 50% 0%;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 195px;
    z-index: -1;
    content: ''; }
    @media (min-width: 2050px) {
      .cherry-box.style_1:after {
        background-size: cover; } }
  .cherry-box.style_1 > div {
    background: none;
    padding-top: 49px;
    padding-bottom: 98px; }
.cherry-box.style_2 {
  position: relative;
  margin-top: 72px;
  z-index: 2; }
  .cherry-box.style_2:before {
    background: url(../../images/box_top.png) no-repeat 50% 0%;
    display: block;
    position: absolute;
    top: -195px;
    right: 0;
    bottom: auto;
    left: 0;
    height: 195px;
    z-index: -1;
    content: ''; }
    @media (min-width: 2050px) {
      .cherry-box.style_2:before {
        background-size: cover; } }
  .cherry-box.style_2:after {
    background: url(../../images/box_bottom.png) no-repeat 50% 0%;
    display: block;
    position: absolute;
    right: 0;
    bottom: -195px;
    left: 0;
    height: 195px;
    z-index: -1;
    content: ''; }
    @media (min-width: 2050px) {
      .cherry-box.style_2:after {
        background-size: cover; } }
  .cherry-box.style_2 > div {
    padding-top: 0;
    padding-bottom: 0; }
    .cherry-box.style_2 > div h2 {
      margin: 0 0 49px 0; }
      @media (max-width: 767px) {
        .cherry-box.style_2 > div h2 {
          line-height: 37px;
          font-size: 37px; } }
    @media (min-width: 1200px) {
      .cherry-box.style_2 > div p {
        margin: 0 0 12px 0; } }
.cherry-box.style_3 {
  position: relative;
  z-index: 2; }
  @media (min-width: 1200px) {
    .cherry-box.style_3 {
      margin-bottom: -7px; } }
  .cherry-box.style_3:before {
    background: #63b8bd;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 195px;
    left: 0;
    z-index: -1;
    content: ''; }
  .cherry-box.style_3:after {
    background: url(../../images/box_bottom.png) no-repeat 50% 0%;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 195px;
    z-index: -1;
    content: ''; }
    @media (min-width: 2050px) {
      .cherry-box.style_3:after {
        background-size: cover; } }
  .cherry-box.style_3 > div {
    background: none;
    padding-top: 75px;
    padding-bottom: 105px; }
    .cherry-box.style_3 > div h2 {
      margin: 0 0 27px 0; }

.cherry-banner.style_1 {
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }
  @media (max-width: 767px) {
    .cherry-banner.style_1 {
      margin: 0 0 30px 0; } }
  .cherry-banner.style_1:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .cherry-banner.style_1 .cherry-banner_wrap {
    background-position: 100% 100%;
    padding: 23px 30px 30px 30px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .cherry-banner.style_1 .cherry-banner_wrap {
        padding: 20px 20px 20px 20px; } }
  .cherry-banner.style_1 h2 {
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    line-height: 37px;
    font-size: 37px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .cherry-banner.style_1 h2 {
        line-height: 30px;
        font-size: 30px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .cherry-banner.style_1 h2 {
        line-height: 24px;
        font-size: 24px; } }
    @media (max-width: 480px) {
      .cherry-banner.style_1 h2 {
        line-height: 30px;
        font-size: 30px; } }
  .cherry-banner.style_1 .cherry-banner_content {
    padding: 5px 0 0 0; }
    .cherry-banner.style_1 .cherry-banner_content strong {
      display: block;
      margin: 0 0 8px 0;
      line-height: 30px;
      font-size: 20px;
      font-weight: 300; }
      @media (min-width: 768px) and (max-width: 991px) {
        .cherry-banner.style_1 .cherry-banner_content strong {
          line-height: 22px;
          font-size: 15px; } }
      @media (max-width: 480px) {
        .cherry-banner.style_1 .cherry-banner_content strong {
          line-height: 24px;
          font-size: 17px; } }
  .cherry-banner.style_1 .banner-btn {
    margin: 21px 0 0 0; }
    .cherry-banner.style_1 .banner-btn a {
      display: inline-block;
      padding: 19px 52px 19px 52px;
      vertical-align: top;
      line-height: 22px;
      font-size: 21px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none; }

.title-box {
  margin: 0 0 33px 0;
  text-align: center; }
  .title-box h2 {
    margin: 0 0 19px 0;
    padding: 0;
    text-transform: uppercase; }
  .title-box h4 {
    margin: 0;
    padding: 0; }
  .title-box.style_1 {
    width: 100%;
    overflow: hidden;
    margin: 0 0 21px 0;
    text-align: left; }
    .title-box.style_1 h2 {
      float: left;
      width: 96px;
      height: 96px;
      overflow: hidden;
      margin: 10px 18px 5px 0 !important;
      border-radius: 50%;
      line-height: 96px !important;
      font-size: 66px !important;
      font-weight: 700;
      text-align: center; }
      @media (min-width: 768px) and (max-width: 991px) {
        .title-box.style_1 h2 {
          width: 60px;
          height: 60px;
          line-height: 60px !important;
          font-size: 40px !important; } }
    .title-box.style_1 h4 {
      overflow: hidden;
      margin: 0;
      padding: 0;
      line-height: 42px;
      font-size: 37px; }
      @media (min-width: 992px) and (max-width: 1199px) {
        .title-box.style_1 h4 {
          padding-top: 13px;
          line-height: 30px;
          font-size: 25px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .title-box.style_1 h4 {
          line-height: 25px;
          font-size: 20px; } }
      @media (max-width: 480px) {
        .title-box.style_1 h4 {
          padding-top: 13px;
          line-height: 30px;
          font-size: 25px; } }

.cherry-posts-list {
  position: relative;
  z-index: 99; }
  .cherry-posts-list.list_1 {
    margin-bottom: 33px; }
    .cherry-posts-list.list_1 .cherry-posts-item {
      text-align: center; }
      @media (max-width: 767px) {
        .cherry-posts-list.list_1 .cherry-posts-item {
          width: 100%;
          overflow: hidden;
          margin: 0 0 30px 0;
          text-align: left; } }
      .cherry-posts-list.list_1 .cherry-posts-item .post-thumbnail {
        margin: 0 0 25px 0; }
        @media (max-width: 767px) {
          .cherry-posts-list.list_1 .cherry-posts-item .post-thumbnail {
            float: left;
            max-width: 50%;
            margin: 0 20px 5px 0; } }
        .cherry-posts-list.list_1 .cherry-posts-item .post-thumbnail a:hover img {
          opacity: 0.5;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -ms-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out; }
        .cherry-posts-list.list_1 .cherry-posts-item .post-thumbnail img {
          -webkit-transition: all 0.8s ease-in-out;
          -moz-transition: all 0.8s ease-in-out;
          -ms-transition: all 0.8s ease-in-out;
          -o-transition: all 0.8s ease-in-out;
          transition: all 0.8s ease-in-out; }

a.cherry-btn-primary {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 15px 16px 15px 16px;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  vertical-align: top;
  letter-spacing: normal;
  line-height: 25px;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 99;
  transform: translateZ(0); }
  a.cherry-btn-primary:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  a.cherry-btn-primary.extra {
    letter-spacing: 1px;
    line-height: 30px;
    padding-right: 45px;
    padding-left: 45px; }
  a.cherry-btn-primary.extra_1 {
    margin-top: 10px; }

.entry-permalink a.btn-default {
  position: relative;
  display: inline-block;
  margin: 0 0 25px 0;
  padding: 15px 16px 15px 16px;
  vertical-align: top;
  letter-spacing: normal;
  line-height: 25px;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 99; }
  .entry-permalink a.btn-default:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

.parallax-box.style_1 {
  text-align: center; }
  .parallax-box.style_1 .parallax-content {
    padding: 278px 20px 169px 20px; }
  .parallax-box.style_1 h2 {
    margin: 0 0 41px 0;
    font-weight: 700; }
.parallax-box.style_2 {
  margin-bottom: -36px;
  text-align: center; }
  .parallax-box.style_2 .parallax-content {
    padding: 198px 20px 114px 20px; }
  .parallax-box.style_2 h2 {
    margin: 0 0 14px 0; }

.cherry-swiper-carousel.style_1 {
  padding-bottom: 78px; }
  .cherry-swiper-carousel.style_1 .post-thumbnail, .cherry-swiper-carousel.style_1 .post-meta, .cherry-swiper-carousel.style_1 a.btn, .cherry-swiper-carousel.style_1 footer {
    display: none; }
  .cherry-swiper-carousel.style_1 h4 {
    margin: 0 0 7px 0; }
  @media (min-width: 1200px) {
    .cherry-swiper-carousel.style_1 .post-content {
      padding-right: 120px;
      padding-left: 120px; } }
  .cherry-swiper-carousel.style_1 .swiper-pagination {
    bottom: 0; }
    .cherry-swiper-carousel.style_1 .swiper-pagination .swiper-pagination-bullet {
      background: none;
      display: inline-block;
      width: 18px;
      height: 18px;
      margin: 0 5px;
      border-radius: 50%;
      border: 2px solid;
      -webkit-transition: all 0.8s ease-in-out;
      -moz-transition: all 0.8s ease-in-out;
      -ms-transition: all 0.8s ease-in-out;
      -o-transition: all 0.8s ease-in-out;
      transition: all 0.8s ease-in-out;
      opacity: 1;
      vertical-align: top; }
      .cherry-swiper-carousel.style_1 .swiper-pagination .swiper-pagination-bullet:hover {
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }

.cherry-dropcap.style_1 {
  margin: 7px 20px 5px 0;
  line-height: 72px !important; }

.team-wrap .team-listing {
  padding: 0; }
  @media (max-width: 767px) {
    .team-wrap .team-listing .team-item {
      margin-bottom: 30px; } }
  .team-wrap .team-listing .team-item .inner {
    background: rgba(47, 51, 55, 0.85);
    padding: 20px 20px 34px 20px; }
    @media (max-width: 767px) {
      .team-wrap .team-listing .team-item .inner {
        width: 100%;
        overflow: hidden; } }
  .team-wrap .team-listing .team-item .team-listing_photo {
    margin: -20px -20px 22px -20px; }
    @media (max-width: 767px) {
      .team-wrap .team-listing .team-item .team-listing_photo {
        float: left;
        max-width: 50%;
        margin: 0 20px 5px 0; } }
    .team-wrap .team-listing .team-item .team-listing_photo a:hover img {
      opacity: 0.5;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
    .team-wrap .team-listing .team-item .team-listing_photo img {
      display: block !important;
      width: 100% !important;
      -webkit-transition: all 0.8s ease-in-out;
      -moz-transition: all 0.8s ease-in-out;
      -ms-transition: all 0.8s ease-in-out;
      -o-transition: all 0.8s ease-in-out;
      transition: all 0.8s ease-in-out; }
  .team-wrap .team-listing .team-item h5 {
    margin: 0 0 8px 0;
    font-size: 21px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .team-wrap .team-listing .team-item h5 {
        line-height: 22px;
        font-size: 15px; } }

.cherry-services {
  margin-bottom: 0 !important; }
  .cherry-services .services-listing .cherry-services_item {
    text-align: center; }
    @media (min-width: 1200px) {
      .cherry-services .services-listing .cherry-services_item {
        padding-bottom: 0 !important; } }
    @media (max-width: 768px) {
      .cherry-services .services-listing .cherry-services_item {
        width: 100%;
        overflow: hidden;
        text-align: left; } }
    .cherry-services .services-listing .cherry-services_item .cherry-services_thumb {
      margin: 0 0 24px 0; }
      @media (max-width: 768px) {
        .cherry-services .services-listing .cherry-services_item .cherry-services_thumb {
          float: left;
          max-width: 50%;
          margin: 0 20px 5px 0; } }
      .cherry-services .services-listing .cherry-services_item .cherry-services_thumb a:hover img {
        opacity: 0.5;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
      .cherry-services .services-listing .cherry-services_item .cherry-services_thumb img {
        -webkit-transition: all 0.8s ease-in-out;
        -moz-transition: all 0.8s ease-in-out;
        -ms-transition: all 0.8s ease-in-out;
        -o-transition: all 0.8s ease-in-out;
        transition: all 0.8s ease-in-out; }
    .cherry-services .services-listing .cherry-services_item .cherry-services_excerpt {
      padding: 0; }
      @media (max-width: 768px) {
        .cherry-services .services-listing .cherry-services_item .cherry-services_excerpt {
          clear: none; } }

article.type-service .cherry-services_thumb {
  float: left;
  max-width: 50%;
  margin: 0 20px 5px 0; }
article.type-service .post-content {
  clear: none !important; }

.cherry-list {
  padding-top: 7px; }
  @media (max-width: 767px) {
    .cherry-list {
      margin-bottom: 30px; } }
  .cherry-list ul {
    margin: 0;
    padding: 0; }
    .cherry-list ul li {
      position: relative;
      margin: 12px 0 0 0;
      padding: 0 0 0 16px;
      list-style: none;
      text-align: left; }
      .cherry-list ul li:first-child {
        margin: 0; }
      .cherry-list ul li .list-icon {
        position: absolute;
        top: 2px;
        left: 0;
        min-width: 1px;
        line-height: 16px;
        font-size: 16px;
        color: #adcc1b; }
      .cherry-list ul li a {
        text-decoration: none; }
        .cherry-list ul li a:hover {
          text-decoration: none;
          color: #63b8bd; }

/*/ Shortcodes */
/* #Footer
================================================== */
@media (max-width: 767px) {
  #footer {
    text-align: center; } }
#footer h3 {
  line-height: 37px;
  font-size: 37px; }
#footer .textwidget i {
  display: block; }

.footer-top {
  position: relative;
  padding: 71px 0 57px 0; }
  @media (min-width: 768px) and (max-width: 991px) {
    .footer-top {
      text-align: center; } }
  .footer-top .widget-area {
    position: relative; }
    @media (max-width: 767px) {
      .footer-top .widget-area {
        padding: 15px 0; } }
  @media (max-width: 767px) {
    .footer-top {
      text-align: center; } }

.static-footer-sidebars .cherry-dropcap {
  margin: -8px 30px 0 0;
  line-height: 80px !important; }
  @media (min-width: 768px) and (max-width: 991px) {
    .static-footer-sidebars .cherry-dropcap {
      display: block;
      float: none;
      margin: 0 auto 10px;
      vertical-align: top; } }
  @media (max-width: 767px) {
    .static-footer-sidebars .cherry-dropcap {
      display: block;
      float: none;
      margin: 0 auto 10px;
      vertical-align: top; } }
.static-footer-sidebars b {
  display: block;
  padding-top: 4px;
  font-weight: 300; }
  @media (min-width: 768px) and (max-width: 991px) {
    .static-footer-sidebars b {
      padding-top: 0 !important; } }
  @media (max-width: 767px) {
    .static-footer-sidebars b {
      padding-top: 0 !important; } }
.static-footer-sidebars i {
  display: block;
  line-height: 30px;
  font-size: 27px;
  font-style: normal; }
.static-footer-sidebars em {
  display: block;
  padding-top: 20px;
  font-style: normal; }
  @media (min-width: 768px) and (max-width: 991px) {
    .static-footer-sidebars em {
      padding-top: 0 !important; } }
  @media (max-width: 767px) {
    .static-footer-sidebars em {
      padding-top: 0 !important; } }
.static-footer-sidebars a {
  text-decoration: underline; }
  .static-footer-sidebars a:hover {
    text-decoration: underline; }

.cherry-footer-logo {
  padding: 30px 0 0 0; }
  .cherry-footer-logo a {
    text-decoration: none; }

.footer-bottom {
  padding: 16px 0 16px 0; }

.site-info {
  padding: 8px 0 8px 0;
  line-height: 19px;
  font-size: 13px; }

.menu-secondary ul {
  margin: 0;
  padding: 0; }
  .menu-secondary ul li {
    display: inline-block;
    margin: 0 0 0 13px;
    padding: 0;
    vertical-align: top;
    list-style: none; }
    .menu-secondary ul li:first-child {
      margin: 0; }

.static-social-follow {
  text-align: right; }
  @media (max-width: 767px) {
    .static-social-follow {
      text-align: center; } }
  .static-social-follow h3 {
    text-align: right; }
    @media (max-width: 767px) {
      .static-social-follow h3 {
        text-align: center; } }
  .static-social-follow ul {
    margin: 0;
    padding: 0;
    line-height: 0;
    font-size: 0; }
    .static-social-follow ul li {
      display: inline-block;
      float: none;
      margin: 0 0 0 17px;
      padding: 0;
      vertical-align: top;
      list-style: none; }
      @media (max-width: 767px) {
        .static-social-follow ul li {
          margin: 0 5px; } }
      .static-social-follow ul li i:before {
        line-height: 36px;
        font-size: 29px;
        font-weight: 400; }

/*/ Footer */
/* #Contact form
================================================== */
.wpcf7 form .wpcf7-form-control-wrap {
  display: block;
  margin-bottom: 25px; }
.wpcf7 form input[type="text"], .wpcf7 form input[type="email"], .wpcf7 form textarea {
  width: 100%;
  padding: 8px 15px; }
.wpcf7 form textarea {
  height: 200px; }
.wpcf7 form .submit-wrap {
  clear: both;
  text-align: center; }
  .wpcf7 form .submit-wrap input {
    display: inline-block; }
  .wpcf7 form .submit-wrap .ajax-loader {
    display: inline-block;
    margin: 0 10px; }
.wpcf7 form .wpcf7-response-output {
  margin-top: 25px; }

/*/ Contact form */
/* #Misc
================================================== */
.cherry-breadcrumbs {
  overflow: hidden;
  margin-bottom: 36px;
  text-align: center; }
  body.home .cherry-breadcrumbs {
    margin-top: 36px; }
  .cherry-breadcrumbs .col-sm-12 {
    float: none !important;
    width: 100% !important;
    padding: 0 !important; }
  .cherry-breadcrumbs h1 {
    margin: 0 0 15px 0;
    padding: 0;
    text-transform: uppercase; }
  .cherry-breadcrumbs .cherry-breadcrumbs_content {
    position: relative;
    padding: 10px 0 10px 0;
    border: none;
    text-align: center; }
    .cherry-breadcrumbs .cherry-breadcrumbs_content:before {
      background: #c9c9c9;
      display: block;
      position: absolute;
      top: 0;
      right: auto;
      bottom: auto;
      left: 50%;
      width: 1170px;
      height: 1px;
      margin: 0 0 0 -585px;
      content: ''; }
    .cherry-breadcrumbs .cherry-breadcrumbs_content:after {
      background: #c9c9c9;
      display: block;
      position: absolute;
      top: auto;
      right: auto;
      bottom: 0;
      left: 50%;
      width: 1170px;
      height: 1px;
      margin: 0 0 0 -585px;
      content: ''; }
    .cherry-breadcrumbs .cherry-breadcrumbs_content .cherry-breadcrumbs_item_sep {
      margin: 0 3px; }

.parallax-box {
  margin-left: -15px;
  margin-right: -15px; }

.entry-thumbnail {
  margin-bottom: 30px; }

article .entry-video {
  margin-bottom: 30px; }
article .post-gallery {
  margin-bottom: 30px; }
article .post-thumbnail {
  margin-bottom: 30px; }

.entry-header h2.entry-title {
  margin: 0 0 30px 0;
  font-weight: 700;
  text-align: left; }

article.post.cherry-has-entry-date .entry-meta, article.post.cherry-has-entry-author .entry-meta, article.post.cherry-has-entry-comments .entry-meta, article.post.cherry-has-entry-cats .entry-meta, article.post.cherry-has-entry-tags .entry-meta {
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9; }
article.post .entry-meta {
  overflow: hidden;
  line-height: 20px;
  font-size: 15px;
  /*
  .category {
  	&:before {
  		content: '\f02e';
  	}
  }
  */ }
  article.post .entry-meta span {
    margin: 0 13px 0 0 !important; }
    article.post .entry-meta span:before {
      margin: 0 6px 0 0;
      font-family: FontAwesome; }
  article.post .entry-meta .posted-on:before {
    content: '\f073'; }
  article.post .entry-meta .author:before {
    content: '\f007'; }
  article.post .entry-meta .comments-link:before {
    content: '\f086'; }
  article.post .entry-meta .post_tag:before {
    content: '\f02c'; }
article.post .entry-content {
  margin-bottom: 25px; }
article.post h3 {
  line-height: 30px;
  font-size: 21px;
  text-align: left; }

.author-bio {
  background: #63b8bd;
  margin-bottom: 55px;
  padding: 20px; }
  .author-bio h3 {
    line-height: 22px;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    text-transform: none; }

.related-posts {
  margin-bottom: 50px; }
  .related-posts h3 {
    margin: 0 0 31px 0; }
  .related-posts ul {
    margin: 0;
    padding: 0;
    line-height: 0;
    font-size: 0; }
    @media (max-width: 480px) {
      .related-posts ul {
        margin-left: -2% !important; } }
    .related-posts ul li {
      display: inline-block;
      width: 22%;
      margin: 0 0 0 4%;
      padding: 0;
      vertical-align: top;
      list-style: none;
      line-height: 22px;
      font-size: 15px; }
      @media (max-width: 480px) {
        .related-posts ul li {
          width: 48%;
          margin: 0 0 0 2%; } }
      .related-posts ul li:first-child {
        margin: 0; }
        @media (max-width: 480px) {
          .related-posts ul li:first-child {
            margin: 0 0 0 2%; } }
      .related-posts ul li h4 {
        margin: 0 0 15px 0; }
        @media (min-width: 768px) and (max-width: 991px) {
          .related-posts ul li h4 {
            line-height: 22px;
            font-size: 15px; } }
        @media (max-width: 767px) {
          .related-posts ul li h4 {
            line-height: 22px;
            font-size: 15px; } }
      .related-posts ul li .entry-content {
        margin: 0 0 15px 0; }
      .related-posts ul li .entry-permalink {
        display: none; }

@media (max-width: 767px) {
  #commentform {
    margin-bottom: 30px; } }
#commentform p {
  width: 100%;
  overflow: hidden;
  margin: 0 0 15px 0; }
  #commentform p label {
    display: block; }
#commentform input[type="text"], #commentform input[type="email"], #commentform input[type="tel"], #commentform input[type="url"], #commentform textarea {
  width: 100%; }

#respond {
  padding-top: 20px; }

.error-404 h2 {
  margin: 30px 0;
  font-weight: 700;
  text-align: left; }
.error-404 .search-form label {
  display: inline-block;
  vertical-align: top; }
.error-404 .search-form input[type="submit"] {
  height: 38px !important; }

.portfolio-filter {
  text-align: center; }
  .portfolio-filter ul {
    float: none !important; }
    .portfolio-filter ul li {
      margin: 0 18px; }
      @media (max-width: 767px) {
        .portfolio-filter ul li {
          margin: 3px !important; } }
      @media (max-width: 480px) {
        .portfolio-filter ul li {
          display: inline-block;
          float: none !important;
          vertical-align: top; } }
      .portfolio-filter ul li a {
        display: inline-block;
        position: relative;
        margin: 0;
        padding: 15px 16px 15px 16px;
        vertical-align: top;
        letter-spacing: normal;
        line-height: 25px;
        font-size: 19px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none !important;
        z-index: 99; }
        @media (max-width: 767px) {
          .portfolio-filter ul li a {
            padding: 9px 10px 9px 10px;
            font-size: 14px;
            font-weight: 400; } }
        .portfolio-filter ul li a:hover {
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

.portfolio-list .grid-layout-item h3 {
  text-align: center !important; }
.portfolio-list .inner-wrap .item-content {
  padding: 22px 20px 20px 20px; }
  .portfolio-list .inner-wrap .item-content h2 {
    margin: 0 0 15px 0;
    line-height: 30px;
    font-size: 21px;
    font-weight: 700; }
  .portfolio-list .inner-wrap .item-content h3 {
    margin: 0 0 15px 0;
    line-height: 30px;
    font-size: 21px;
    text-align: left; }
  .portfolio-list .inner-wrap .item-content h4 {
    margin: 0; }
  .portfolio-list .inner-wrap .item-content h5 {
    margin: 0; }
  .portfolio-list .inner-wrap .item-content .post-format {
    margin: 0 0 15px 0 !important;
    line-height: 30px;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase; }

.team-wrap .team-listing_item {
  margin-bottom: 30px; }
  .team-wrap .team-listing_item .team-listing_photo {
    margin: 0 0 10px 0; }

.cherry-accordion .cherry-spoiler-title {
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }
  .cherry-accordion .cherry-spoiler-title:hover {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }

nav.pagination {
  width: 100%;
  overflow: hidden;
  text-align: center; }
  @media (min-width: 768px) and (max-width: 991px) {
    nav.pagination {
      margin-bottom: 30px; } }
  @media (max-width: 767px) {
    nav.pagination {
      margin-bottom: 30px; } }

.portfolio-pagination a {
  text-decoration: none !important; }

@media (max-width: 767px) {
  .error-404 {
    text-align: center; } }
@media (min-width: 768px) and (max-width: 991px) {
  .error-404 .error-404-num {
    font-size: 180px; } }
@media (max-width: 767px) {
  .error-404 .error-404-num {
    font-size: 180px;
    text-align: center; } }
@media (max-width: 480px) {
  .error-404 .error-404-num {
    font-size: 140px; } }
@media (max-width: 767px) {
  .error-404 h2 {
    text-align: center; } }
.error-404 .widget ul {
  margin: 0;
  padding: 0; }
  .error-404 .widget ul li {
    position: relative;
    margin: 12px 0 0 0;
    padding: 0 0 0 16px;
    list-style: none;
    text-align: left; }
    .error-404 .widget ul li:first-child {
      margin: 0; }
    .error-404 .widget ul li:before {
      position: absolute;
      top: 2px;
      left: 0;
      line-height: 16px;
      font-family: FontAwesome;
      font-size: 16px;
      color: #63b8bd;
      content: '\f105'; }
    .error-404 .widget ul li a {
      text-decoration: none; }
      .error-404 .widget ul li a:hover {
        text-decoration: none;
        color: #63b8bd; }
    .error-404 .widget ul li ul {
      padding: 12px 0 0 0; }

/*/ Misc */
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("../images/nextgallformat.png") !important;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("../images/prevgallformat.png") !important;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.swiper-button-next:hover, .swiper-button-prev:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

/*# sourceMappingURL=main.css.map */
